@charset "UTF-8";
/* ANIMATION*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*** The new CSS reset - version 1.7.2 (last updated 23.6.2022) ***/
*:where(:not(html, iframe, canvas, img, svg, video):not(svg*, symbol*)) {
  all: unset;
  display: revert;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a, button {
  cursor: revert;
}

ol, ul, menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

::-moz-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

a {
  outline: none;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

a {
  outline: none;
}

*:focus {
  outline: none;
}

@-webkit-keyframes fadeInAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.monserrat {
  font-family: "Montserrat", sans-serif;
}

.fadein00 {
  -webkit-animation-name: fadeInAnime;
          animation-name: fadeInAnime;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.fadein01 {
  -webkit-animation-name: fadeInAnime;
          animation-name: fadeInAnime;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.fadein02 {
  -webkit-animation-name: fadeInAnime;
          animation-name: fadeInAnime;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.fadein03 {
  -webkit-animation-name: fadeInAnime;
          animation-name: fadeInAnime;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.fadein04 {
  -webkit-animation-name: fadeInAnime;
          animation-name: fadeInAnime;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

body {
  background: #F7F8F8;
  width: 100vw;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

.bg__repeatWrapper {
  position: fixed;
  top: 0;
  right: 0;
}
.bg__repeatInner {
  position: relative;
}
.bg__repeatBlc {
  width: 100vw;
}

.bgw1 {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 0;
  line-height: 0;
}
.bgw1 .maskbg1 {
  -webkit-mask-image: url("../img/bg1_mask.png");
  mask-image: url("../img/bg1_mask.png");
  -webkit-mask-size: 100% auto;
          mask-size: 100% auto;
  -webkit-mask-position: center top;
          mask-position: center top;
}
@media screen and (max-width: 768px) {
  .bgw1 .maskbg1 {
    -webkit-mask-image: url("../img/bg1_mask-sp.png");
    mask-image: url("../img/bg1_mask-sp.png");
    -webkit-mask-position: center top -24vw;
            mask-position: center top -24vw;
    -webkit-mask-size: 100% auto;
            mask-size: 100% auto;
  }
}
.bgw1 img {
  height: auto;
  width: 2290px;
  margin: 0;
  font-size: 0;
  line-height: 0;
}
@media screen and (max-width: 768px) {
  .bgw1 img {
    width: 205%;
  }
}

.bgw2 {
  margin: 0;
  font-size: 0;
  line-height: 0;
}
.bgw2 .maskbg2 {
  -webkit-mask-image: url("../img/bg2_mask.png");
  mask-image: url("../img/bg2_mask.png");
  -webkit-mask-size: 100% auto;
          mask-size: 100% auto;
  -webkit-mask-position: center top;
          mask-position: center top;
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 768px) {
  .bgw2 .maskbg2 {
    -webkit-mask-image: url("../img/bg2_mask-sp.png");
    mask-image: url("../img/bg2_mask-sp.png");
    -webkit-mask-position: center top -24vw;
            mask-position: center top -24vw;
    -webkit-mask-size: 100% auto;
            mask-size: 100% auto;
  }
}
.bgw2 img {
  height: auto;
  width: 2100px;
  margin: 0;
  font-size: 0;
  line-height: 0;
}
@media screen and (max-width: 768px) {
  .bgw2 img {
    width: 205%;
  }
}

.main {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
}
.main__figurepc {
  margin: 0;
  max-height: 55.92vh;
  display: flex;
  justify-content: center;
  margin-bottom: clamp(32px, 5vh, 68px);
}
.main__figurepc img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.main__figuresp {
  width: 80vw;
  margin: 0 auto 18.2vw;
  font-size: 0;
  line-height: 0;
}
.main__figuresp img {
  width: 100%;
}
.main__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
.main__comming {
  opacity: 0;
  text-align: center;
  max-width: 242px;
  margin: 27px auto 28px;
}
.main__comming img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 4.95vh;
}
@media screen and (max-width: 768px) {
  .main__comming {
    width: 38.4vw;
    height: auto;
    margin: 3.9vw auto 8.13vw;
  }
}
.main__contents {
  position: relative;
  width: 100%;
  padding-top: 21.11vh;
}
@media screen and (max-width: 768px) {
  .main__contents {
    padding-top: 36.4vw;
  }
}
.main__contents--wrapper {
  width: 1420px;
  min-width: 600px;
}
@media screen and (max-width: 768px) {
  .main__contents--wrapper {
    width: 100vw;
    max-width: 100vw;
    min-width: auto;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1024px) {
  .main__contents {
    padding-right: 10vw;
    padding-left: 10vw;
  }
}
@media screen and (max-width: 768px) {
  .main__contents {
    padding-right: 0;
    padding-left: 0;
  }
}
.main__txt {
  position: absolute;
  top: 14.7vh;
  left: 0;
  right: 0;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .main__txt {
    top: 19.5vw;
    width: 88vw;
  }
}
.main__txts {
  text-align: center;
  line-height: 0;
  width: 100%;
  margin: 0 0 1.3vh;
  opacity: 0;
  max-height: 1.1vh;
}
.main__txts img {
  max-width: 536px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 1.1vh;
}
@media screen and (max-width: 768px) {
  .main__txts {
    margin: 0;
    line-height: 0;
    width: 100%;
    margin: 0 auto 2.6vw;
    opacity: 0;
  }
  .main__txts img {
    width: 100%;
    height: auto;
  }
}
.main__sns {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  height: 7.8vh;
  width: 31.75vh;
  max-width: 342px;
  max-height: 82px;
  background: #F7F8F8;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: clamp(62px, 11.5vh, 125px);
}
.main__sns li {
  margin: 0;
  width: 4.72vh;
  height: 3.88vh;
  max-width: 51px;
  max-height: 42px;
}
.main__sns li a {
  display: block;
  max-width: 51px;
  max-height: 42px;
  width: 100%;
  height: 100%;
}
.main__sns li a:hover {
  opacity: 0.7;
}
.main__sns li img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .main__sns {
    display: flex;
    margin: 0 auto 26.8vw;
    justify-content: space-between;
    width: 79vw;
    background: #F7F8F8;
    border-radius: 20px;
    padding: 4.6vw;
    height: auto;
    max-height: 88px;
  }
  .main__sns li {
    margin: 0;
    width: 12vw;
    height: auto;
    max-width: 51px;
    max-height: 42px;
  }
  .main__sns li a {
    display: block;
    max-width: 51px;
    max-height: 42px;
    height: 9.8vw;
    width: 12.1vw;
  }
  .main__sns li img {
    width: 100%;
  }
}
.main__sns--insta {
  white-space: nowrap;
  text-indent: -9999px;
  display: block;
  background: url("../img/icon_pcInsta.svg") no-repeat 0 0;
  background-size: 100% auto;
}
.main__sns--twitter {
  white-space: nowrap;
  text-indent: -9999px;
  display: block;
  background: url("../img/icon_pctwitter.svg") no-repeat 0 0;
  background-size: 100% auto;
}
.main__sns--youtube {
  white-space: nowrap;
  text-indent: -9999px;
  display: block;
  background: url("../img/icon_pcyoutube.svg") no-repeat 0 0;
  background-size: 100% auto;
}
.main__product {
  margin: 0 auto clamp(40px, 6.6vh, 71px);
  max-width: 1420px;
  min-width: calc(766px - 20vw);
  width: 76%;
}
@media screen and (max-width: 1024px) {
  .main__product {
    width: 100%;
  }
}
.main__product--01 {
  background: url("../img/img__product-setpc0826.png") no-repeat 0 0;
  background-size: 100% auto;
  padding-top: 50.84%;
  white-space: nowrap;
  text-indent: -9999px;
  font-size: 0;
  border: solid 1px #32667A;
  border-radius: clamp(20px, 1.6vw, 30px);
}
.main__product--inner {
  position: relative;
  margin: 0 auto clamp(40px, 7.8vh, 84px);
}
.main__product--batch {
  position: absolute;
  max-width: 226px;
  max-height: 226px;
  width: 21.48vh;
  height: 21.48vh;
  top: -24px;
  left: -24px;
}
.main__product--batchInner {
  max-width: 226px;
  max-height: 226px;
  position: relative;
  width: 21.48vh;
  height: 21.48vh;
}
.main__product--batchInner img {
  -webkit-animation: rotation 10s infinite linear;
          animation: rotation 10s infinite linear;
}
.main__product--batchtxt {
  white-space: nowrap;
  text-indent: -9999px;
  display: inline-block;
  background: url("../img/img_batchtxt.svg") no-repeat 0 0;
  background-size: 100% auto;
  max-width: 142px;
  width: 13.15vh;
  max-height: 103px;
  height: 9.53vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .main__product {
    margin: 0 auto;
    max-width: 80vw;
    width: 80vw;
    min-width: 80vw;
  }
  .main__product--01 {
    background: url("../img/img__product-setsp0826.png") no-repeat 0 0;
    background-size: 100% auto;
    padding-top: 298%;
    white-space: nowrap;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
  }
  .main__product--01 img {
    border-radius: 5.6vw;
  }
  .main__product--inner {
    position: relative;
    margin: 0 auto 10.28vw;
  }
  .main__product--batch {
    position: absolute;
    max-width: 37vw;
    max-height: 37vw;
    width: 37vw;
    height: 37vw;
    top: -13vw;
    left: -6.5vw;
  }
  .main__product--batchInner {
    max-width: 37vw;
    max-height: 37vw;
    position: relative;
    width: 37vw;
    height: 37vw;
  }
  .main__product--batchtxt {
    max-width: 23.36vw;
    width: 23.36vw;
    max-height: 16.9vw;
    height: 16.9vw;
  }
}
.main__productlist {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-between;
}
.main__productlist li {
  margin: 0;
  width: 31%;
  cursor: pointer;
  font-size: 0;
  line-height: 0;
  position: relative;
  padding-top: 51%;
}
.main__productlist li img {
  border: solid 1px #32667A;
  border-radius: clamp(20px, 1.6vw, 30px);
  width: 100%;
  position: absolute;
  top: 0;
}
.main__productlist .js-imghoverpc {
  opacity: 0;
}
.main__productlist--hover {
  width: 100%;
  position: absolute;
  top: 0;
  -webkit-animation-name: fadeInAnime-moto;
          animation-name: fadeInAnime-moto;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  opacity: 0;
}
.main__productlist--hover:hover {
  -webkit-animation-name: fadeInAnime;
          animation-name: fadeInAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  opacity: 1;
}
.main__productlist--01 .main__productlist--hover:hover {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .main__spwrapper {
    margin: 0 auto 18vw;
  }
  .main .main__productlist--sp {
    margin: 0;
    padding: 0;
  }
  .main .slick-slide {
    margin: 0 1.7vw;
  }
  .main .js-slidesp {
    margin: 0;
    font-size: 0;
    line-height: 0;
    width: 80vw;
    max-width: 80vw;
    position: relative;
  }
  .main .js-slidesp img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    border: solid 1px #32667A;
    border-radius: 5.6vw;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .main .js-imghoversp {
    opacity: 0;
    position: absolute;
    top: 0;
    transition: 1s;
  }
  .main .js-imghoversp.active-hover {
    opacity: 1;
    transition: 1s;
  }
}
.main__footersns {
  background: #F7F8F8;
  border-radius: 20px;
  padding: 18px 30px 30px;
  height: 18vh;
  width: 49.8vh;
  max-width: 538px;
  max-height: 194px;
  margin: 0 auto;
  margin-bottom: clamp(90px, 16vh, 172px);
}
.main__footersns--txt {
  background: url("../img/footer_snstxt02.svg") no-repeat 0 0;
  background-size: 100% auto;
  white-space: nowrap;
  text-indent: -9999px;
  height: clamp(20px, 2.31vh, 25px);
  width: clamp(240px, 32.96vh, 356px);
  margin: 0 auto clamp(40px, 5.3vh, 58px);
}
@media screen and (max-width: 768px) {
  .main__footersns {
    padding: 3.2vw 8.1vw 4.67vw;
    height: 33vw;
    width: 80vw;
    max-width: 80vw;
    max-height: 138px;
    margin: 0 auto 36.2vw;
  }
  .main__footersns--txt {
    background: url("../img/footer_snstxt02.svg") no-repeat 0 0;
    background-size: 100% auto;
    white-space: nowrap;
    text-indent: -9999px;
    height: auto;
    width: 64.4vw;
    margin: 0 auto 9vw;
  }
}
.main__footersnslist {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  max-height: 78px;
  height: 5.9vh;
  padding: 0;
}
.main__footersnslist li {
  margin: 0;
  width: 7.2vh;
  height: 5.9vh;
  max-width: 78px;
  max-height: 52px;
}
.main__footersnslist li a {
  display: block;
  max-width: 78px;
  max-height: 52px;
  width: 100%;
  height: 100%;
}
.main__footersnslist li a:hover {
  opacity: 0.7;
}
.main__footersnslist li img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .main__footersnslist {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    max-height: 42px;
    height: 9.81vw;
  }
  .main__footersnslist li {
    margin: 0;
    width: 12vw;
    height: 9.8vw;
    max-width: 51px;
    max-height: 42px;
  }
  .main__footersnslist li a {
    display: block;
    max-width: 51px;
    max-height: 42px;
    height: 9.8vw;
    width: 12.1vw;
  }
  .main__footersnslist li img {
    width: 100%;
  }
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.bgw1 img:first-child {
  -webkit-animation: loop 600s -300s linear infinite;
          animation: loop 600s -300s linear infinite;
}

.bgw1 img:last-child {
  -webkit-animation: loop2 600s linear infinite;
          animation: loop2 600s linear infinite;
}

.bgw2 img:first-child {
  -webkit-animation: loop 300s -150s linear infinite;
          animation: loop 300s -150s linear infinite;
}

.bgw2 img:last-child {
  -webkit-animation: loop2 300s linear infinite;
          animation: loop2 300s linear infinite;
}

@media screen and (max-width: 768px) {
  .bgw1 img:first-child {
    -webkit-animation: loop 1400s -700s linear infinite;
            animation: loop 1400s -700s linear infinite;
  }
  .bgw1 img:last-child {
    -webkit-animation: loop2 1400s linear infinite;
            animation: loop2 1400s linear infinite;
  }
  .bgw2 img:first-child {
    -webkit-animation: loop 700s -350s linear infinite;
            animation: loop 700s -350s linear infinite;
  }
  .bgw2 img:last-child {
    -webkit-animation: loop2 700s linear infinite;
            animation: loop2 700s linear infinite;
  }
}
@-webkit-keyframes loop {
  0% {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-100%);
  }
}
@keyframes loop {
  0% {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-100%);
  }
}
@-webkit-keyframes loop2 {
  0% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-200%);
  }
}
@keyframes loop2 {
  0% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-200%);
  }
}
.pc {
  display: block;
}

.sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .sp {
    display: block;
  }
  .pc {
    display: none;
  }
}
@keyframes fadeInAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInAnime-moto {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInAnime-moto {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*-----------矢印表示----------*/
.slick-next {
  right: 15vw !important;
  top: 49vw !important;
  height: 36px !important;
  width: 13px !important;
  background-image: url("../img/nextswiper.svg") !important;
  background-size: 100% auto;
}
.slick-next:before {
  content: "" !important;
}

.slick-prev {
  left: 14.5vw !important;
  top: 49vw !important;
  height: 36px !important;
  width: 13px !important;
  background-image: url("../img/prevswiper.svg") !important;
  background-size: 100% auto;
}
.slick-prev:before {
  content: "" !important;
}

.slick-arrow {
  z-index: 2 !important;
}

a {
  outline: none;
}

*:focus {
  outline: none;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}