@use "./module/*";
@use "./module/variable"as var;

html {
    height: -webkit-fill-available;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

body {
    background: var.$bg;
    width: 100vw;
    margin: 0;
    position: relative;
    overflow-x: hidden;
}

.bg {
    &__repeatWrapper {
        position: fixed;
        top: 0;
        right: 0;
    }

    &__repeatInner {
        position: relative;
    }

    &__repeatBlc {
        width: 100vw;

    }

}

.bgw1 {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 0;
    line-height: 0;

    .maskbg1 {
        -webkit-mask-image: url("../img/bg1_mask.png");
        mask-image: url("../img/bg1_mask.png");
        mask-size: 100% auto;
        mask-position: center top;

        @media screen and (max-width: var.$spbp) {
            -webkit-mask-image: url("../img/bg1_mask-sp.png");
            mask-image: url("../img/bg1_mask-sp.png");
            mask-position: center top -24vw;
            mask-size: 100% auto;

        }
    }

    img {
        height: auto;
        width: 2290px;
        margin: 0;
        font-size: 0;
        line-height: 0;

        @media screen and (max-width: var.$spbp) {
            width: 205%;
        }
    }

}

.bgw2 {
    margin: 0;
    font-size: 0;
    line-height: 0;

    .maskbg2 {
        -webkit-mask-image: url("../img/bg2_mask.png");
        mask-image: url("../img/bg2_mask.png");
        mask-size: 100% auto;
        mask-position: center top;
        position: absolute;
        top: 0;
        right: 0;

        @media screen and (max-width: var.$spbp) {
            -webkit-mask-image: url("../img/bg2_mask-sp.png");
            mask-image: url("../img/bg2_mask-sp.png");
            mask-position: center top -24vw;
            mask-size: 100% auto;

        }
    }

    img {
        height: auto;
        width: 2100px;
        margin: 0;
        font-size: 0;
        line-height: 0;

        @media screen and (max-width: var.$spbp) {
            width: 205%;
        }
    }
}

// .logo {
//     &__wrapper {
//         position: absolute;
//         top: 62%;
//         left: 38.33%;
//         width: 23.11%;
//         height: 12.51%;
//         max-height: 10.2vh;

//         img {
//             width: 100%;
//             object-fit: scale-down;
//         }

//         // //タブレット
//         // @media screen and (max-width: var.$tabw) {
//         //     left: 38.28%;
//         //     top: 50.7%;
//         // }
//         @media screen and (max-width: var.$spbp) {
//             width: 38.25vw;
//             height: 18.14vw;
//             top: 106.3vw;
//             left: 26.3vw;
//         }

//     }
// }

.main {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;

    &__figurepc {
        margin: 0;
        max-height: 55.92vh;
        display: flex;
        justify-content: center;
        margin-bottom: clamp(32px, 5vh, 68px);

        img {
            object-fit: scale-down;
        }
    }

    &__figuresp {
        width: 80vw;
        margin: 0 auto 18.2vw;
        font-size: 0;
        line-height: 0;

        img {
            width: 100%;
        }
    }

    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    &__comming {
        opacity: 0;
        text-align: center;
        max-width: 242px;
        margin: 27px auto 28px;

        img {
            width: 100%;
            object-fit: contain;
            height: 4.95vh;
        }

        @media screen and (max-width: var.$spbp) {
            width: 38.4vw;
            height: auto;
            margin: 3.9vw auto 8.13vw;
        }
    }

    &__contents {
        position: relative;
        width: 100%;
        padding-top: 21.11vh;

        @media screen and (max-width: var.$spbp) {
            padding-top: 36.4vw;
        }

        &--wrapper {
            width: 1420px;
            min-width: 600px;

            @media screen and (max-width: var.$spbp) {
                width: 100vw;
                max-width: 100vw;
                min-width: auto;
                margin: 0 auto;
            }
        }

        //タブレット
        @media screen and (max-width: var.$tabw) {
            padding-right: 10vw;
            padding-left: 10vw;
        }

        @media screen and (max-width: var.$spbp) {
            padding-right: 0;
            padding-left: 0;
        }

    }

    &__txt {
        position: absolute;
        top: 14.7vh;
        left: 0;
        right: 0;
        margin: auto;

        @media screen and (max-width: var.$spbp) {
            top: 19.5vw;
            width: 88vw;
        }

    }

    &__txts {
        text-align: center;
        line-height: 0;
        width: 100%;
        margin: 0 0 1.3vh;
        opacity: 0;
        max-height: 1.1vh;

        img {
            max-width: 536px;
            width: 100%;
            object-fit: contain;
            height: 1.1vh;
        }

        @media screen and (max-width: var.$spbp) {
            margin: 0;
            line-height: 0;
            width: 100%;
            margin: 0 auto 2.6vw;
            opacity: 0;

            img {
                width: 100%;

                height: auto;
            }
        }

    }

    &__sns {
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        height: 7.8vh;
        width: 31.75vh;
        max-width: 342px;
        max-height: 82px;
        background: var.$bg;
        border-radius: 20px;
        padding: 20px;
        margin-bottom: clamp(62px, 11.5vh, 125px);

        li {
            margin: 0;
            width: 4.72vh;
            height: 3.88vh;
            max-width: 51px;
            max-height: 42px;

            a {
                display: block;
                max-width: 51px;
                max-height: 42px;
                width: 100%;
                height: 100%;

                &:hover {
                    opacity: 0.7;
                }
            }

            img {
                width: 100%;
            }
        }

        @media screen and (max-width: var.$spbp) {
            display: flex;
            margin: 0 auto 26.8vw;
            justify-content: space-between;
            width: 79vw;
            background: var.$bg;
            border-radius: 20px;
            padding: 4.6vw;
            height: auto;
            max-height: 88px;

            li {
                margin: 0;
                width: 12vw;
                height: auto;
                max-width: 51px;
                max-height: 42px;

                a {
                    display: block;
                    max-width: 51px;
                    max-height: 42px;
                    height: 9.8vw;
                    width: 12.1vw;
                }

                img {
                    width: 100%;
                }
            }

        }

        &--insta {

            white-space: nowrap;
            text-indent: -9999px;
            display: block;
            background: url("../img/icon_pcInsta.svg") no-repeat 0 0;
            background-size: 100% auto;

        }

        &--twitter {
            white-space: nowrap;
            text-indent: -9999px;
            display: block;
            background: url("../img/icon_pctwitter.svg") no-repeat 0 0;
            background-size: 100% auto;

        }

        &--youtube {
            white-space: nowrap;
            text-indent: -9999px;
            display: block;
            background: url("../img/icon_pcyoutube.svg") no-repeat 0 0;
            background-size: 100% auto;

        }
    }

    &__product {
        margin: 0 auto clamp(40px, 6.6vh, 71px);
        max-width: 1420px;
        min-width: calc(766px - 20vw);
        width: 76%;

        // タブレット
        @media screen and (max-width: var.$tabw) {
            width: 100%;
        }

        &--01 {
            background: url('../img/img__product-setpc0826.png') no-repeat 0 0;
            background-size: 100% auto;
            padding-top: 50.84%;
            white-space: nowrap;
            text-indent: -9999px;
            font-size: 0;
            border: solid 1px var.$bc2;
            border-radius: clamp(20px, 1.6vw ,30px);
        }

        &--inner {
            position: relative;
            margin: 0 auto clamp(40px, 7.8vh, 84px);
        }

        &--batch {
            position: absolute;
            max-width: 226px;
            max-height: 226px;
            width: 21.48vh;
            height: 21.48vh;
            top: -24px;
            left: -24px;

        }

        &--batchInner {
            max-width: 226px;
            max-height: 226px;
            position: relative;
            width: 21.48vh;
            height: 21.48vh;

            img {
                animation: rotation 10s infinite linear;
            }
        }

        &--batchtxt {
            white-space: nowrap;
            text-indent: -9999px;
            display: inline-block;
            background: url('../img/img_batchtxt.svg') no-repeat 0 0;
            background-size: 100% auto;
            max-width: 142px;
            width: 13.15vh;
            max-height: 103px;

            height: 9.53vh;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }
        
        // SP
        @media screen and (max-width: var.$spbp) {
            margin: 0 auto;
            max-width: 80vw;
            width: 80vw;
            min-width: 80vw;

            &--01 {
                background: url('../img/img__product-setsp0826.png') no-repeat 0 0;
                background-size: 100% auto;
                padding-top: 298%;
                white-space: nowrap;
                text-indent: -9999px;
                font-size: 0;
                line-height: 0;
                img{
                    border-radius: 5.6vw;
                }
            }

            &--inner {
                position: relative;
                margin: 0 auto 10.28vw;
            }

            &--batch {
                position: absolute;
                max-width: 37vw;
                max-height: 37vw;
                width: 37vw;
                height: 37vw;
                top: -13vw;
                left: -6.5vw;

            }

            &--batchInner {
                max-width: 37vw;
                max-height: 37vw;
                position: relative;
                width: 37vw;
                height: 37vw;

            }

            &--batchtxt {
                max-width: 23.36vw;
                width: 23.36vw;
                max-height: 16.9vw;
                height: 16.9vw;
            }
        }

    }

    &__productlist {
        display: flex;
        margin: 0;
        padding: 0;
        width: 100%;
        justify-content: space-between;

        li {
            margin: 0;
            width: 31%;
            cursor: pointer;
            font-size: 0;
            line-height: 0;
            position: relative;
            padding-top: 51%;
            img{
                border: solid 1px var.$bc2;
                border-radius: clamp(20px, 1.6vw ,30px);
                width: 100%;
                position: absolute;
                top: 0;
            
            }

        }
        .js-imghoverpc{
            opacity: 0;
        }
        &--hover{
            width: 100%;
            position: absolute;
            top: 0;
            animation-name: fadeInAnime-moto;
            animation-duration:1s;
            opacity: 0;

            &:hover{
                animation-name: fadeInAnime;
                animation-duration:1s;
                animation-timing-function: ease-out;
                animation-fill-mode: forwards;
                animation-iteration-count: 1;
                opacity: 1;
            }

        }
        &--01{
            .main__productlist--hover{
                &:hover{
                    opacity: 1;
                }
            }

        }
    }
    // SP
    @media screen and (max-width: var.$spbp) {
        &__spwrapper{
            margin: 0 auto 18vw;
        }
        .main__productlist--sp{
            margin: 0;
            padding: 0;
        }
        .slick-slide{
            margin: 0 1.7vw;
        }

        .js-slidesp{
            margin: 0;
            font-size: 0;
            line-height: 0;

            width: 80vw;
            max-width: 80vw;
            position: relative;
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                width: 100%;
                border: solid 1px var.$bc2;
                border-radius: 5.6vw;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .js-imghoversp{
            opacity: 0;
            position: absolute;
            top:0;
            transition:1s;

            &.active-hover{
                opacity: 1;
                transition:1s;

            }
        }
    


    }

    &__footersns {
        background: var.$bg;
        border-radius: 20px;
        padding: 18px 30px 30px;
        height: 18vh;
        width: 49.8vh;
        max-width: 538px;
        max-height: 194px;
        margin: 0 auto;
        margin-bottom: clamp(90px, 16vh, 172px);

        &--txt {
            background: url('../img/footer_snstxt02.svg') no-repeat 0 0;
            background-size: 100% auto;
            white-space: nowrap;
            text-indent: -9999px;
            height: clamp(20px, 2.31vh, 25px);
            width: clamp(240px, 32.96vh, 356px);
            margin: 0 auto clamp(40px, 5.3vh, 58px);
        }
        @media screen and (max-width: var.$spbp) {
            padding: 3.2vw 8.1vw 4.67vw;
            height: 33vw;
            width: 80vw;
            max-width: 80vw;
            max-height: 138px;
            margin: 0 auto 36.2vw;    
            &--txt {
                background: url('../img/footer_snstxt02.svg') no-repeat 0 0;
                background-size: 100% auto;
                white-space: nowrap;
                text-indent: -9999px;
                height: auto;
                width: 64.4vw;
                margin: 0 auto 9vw;
            }
        }
    }

    &__footersnslist {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        max-height: 78px;
        height: 5.9vh;
        padding: 0;

        li {
            margin: 0;
            width: 7.2vh;
            height: 5.9vh;
            max-width: 78px;

            a {
                display: block;
                max-width: 78px;
                width: 100%;
                height: 5.9vh;

                &:hover {
                    opacity: 0.7;
                }
            }

            img {
                width: 100%;
            }
        }

        @media screen and (max-width: var.$spbp) {
            display: flex;
            margin: 0 auto;
            justify-content: space-between;
            width: 100%;
            padding: 0;
            max-height: 42px;
            height: 9.81vw;
            li {
                margin: 0;
                width: 12vw;
                height: 9.8vw;
                max-width: 51px;
                max-height: 42px;

                a {
                    display: block;
                    max-width: 51px;
                    max-height: 42px;
                    height: 9.8vw;
                    width: 12.1vw;
                }

                img {
                    width: 100%;
                }
            }
        }

    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.bgw1 img:first-child {
    animation: loop 600s -300s linear infinite;
}

.bgw1 img:last-child {
    animation: loop2 600s linear infinite;
}

.bgw2 img:first-child {
    animation: loop 300s -150s linear infinite;
}

.bgw2 img:last-child {
    animation: loop2 300s linear infinite;
}
@media screen and (max-width: var.$spbp) {
    .bgw1 img:first-child {
        animation: loop 1400s -700s linear infinite;
    }
    
    .bgw1 img:last-child {
        animation: loop2 1400s linear infinite;
    }
    
    .bgw2 img:first-child {
        animation: loop 700s -350s linear infinite;
    }
    
    .bgw2 img:last-child {
        animation: loop2 700s linear infinite;
    }
}

@keyframes loop {
    0% {
        transform: translateY(100%);
    }

    to {
        transform: translateY(-100%);
    }
}

@keyframes loop2 {
    0% {
        transform: translateY(0);
    }

    to {
        transform: translateY(-200%);
    }
}


.pc {
    display: block;
}

.sp {
    display: none;
}

@media screen and (max-width: var.$spbp) {
    .sp {
        display: block;
    }

    .pc {
        display: none;
    }
}

@keyframes fadeInAnime{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes fadeInAnime-moto{
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



//slick
/*-----------矢印表示----------*/
.slick-next{ 
    right: 15vw!important; 
    top: 49vw!important;
    height: 36px!important; 
    width: 13px!important; 
    background-image: url('../img/nextswiper.svg')!important;
    background-size: 100% auto;
    &:before{
        content: ""!important;
    }

}
.slick-prev{ left: 14.5vw!important; 
    top: 49vw!important;
    height: 36px!important; 
    width: 13px!important; 
    background-image: url('../img/prevswiper.svg')!important;
    background-size: 100% auto;
    &:before{
        content: ""!important;
    }
}
.slick-arrow{ z-index:2!important; }


a {outline:none;}
*:focus {
    outline: none;
  }


  a {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    cursor:pointer;
  }